* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Teko, sans-serif;;
}

a:link,
a:active,
a:visited {
    color: blue;
}

h2 {
    color: blue;
    font-style: italic;
    font-size: 32px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.container-flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 8px;
    background-color: aqua;
}

header h1 a {
    text-decoration: none;
    font-size: 40px;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 16px;
}

header ul li a {
    text-decoration: none;
    font-size: 32px;
    font-style: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav span {
    display: block;
    background-color: blue;
    width: 32px;
    height: 4px;
    margin: 4px;
}

.menu-hamburguer {
    cursor: pointer;
    position: relative;
}

.menu-hamburguer ul {
    background-color: #fff;
    display: block;
    border: 1px solid blue;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.submenu ul li {
    width: 100%;

}

.submenu:hover {
    background-color: blue;
    color: #fff;
}

.submenu:hover li a{
    color: #fff;
}

.menu-hamburguer ul li a{
    font-size: 24px;
}

.sobre-a-loja {
    display: grid;
    grid-template-columns: 70% 30%;
}

.sobre-a-loja {
    margin-top: 16px;
}

.sobre-a-loja img {
    height: 100%;
}

.descricao-loja {
    padding: 0 16px;
}

.descricao-loja p {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: lighter;
    text-align: justify;
}

.jogos {
    margin: 16px 0;
}

.jogos H2 {
    margin-bottom: 16px;
    border-bottom: 3px groove aqua;
}

.lista-jogos {
    margin-bottom: 16px;
}

.jogo {
    padding: 4px;
    justify-content: space-between;
}

.jogo img {
    width: 100%;
}

.jogo img,
.jogo H3,
.jogo strong,
.jogo span,
.jogo button {
    display: block;
    font-weight: normal;
    font-size: 24px;
    width: 100%;
}

.jogo h3 {
    font-weight: bold;
}

.jogos strong {
    font-style: italic;
}

.jogo span {
    display: flex;
}

.jogo button {
    background-color: aqua;
    font-weight: normal;
    border: none;
    border-radius: 8px;
}

.jogo del {
    margin-left: 8px;
    color: #ccc;
}

.jogo p {
    display: block;
    font-size: 36px;
    align-items: end;
    margin-left: 8px;
}

footer {
    background-color:aqua;
}


footer p {
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }

    header {
        display: block;
    }
    header h1 a {
        text-decoration: none;
        font-size: 40px;
        text-align: center;
        display: block;
        justify-content: center;
    }

    header ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   .menu {
        display: flex;
        justify-content: center;
   }

    #topo {
        display: block;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .sobre-a-loja {
        display: block;
    }

    .sobre-a-loja img {
        width: 100%;
    }

    .jogos {
        margin-left: 5%;
    }

    .lista-jogos {
        display: grid;
        grid-template-columns: 100%;
    }

    .jogo {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 90%;
    }

    .sobre-a-loja {
        display: block;
    }

    .sobre-a-loja img {
        width: 100%;
    }

    .jogos {
        margin-left: 5%;
    }

    .lista-jogos {
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 10%;

    }

    .jogo {
        margin-bottom: 32px;
    }
}